* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(#1d3132, #253d3d, #19282b);
    height: 100vh;
    color:#9c9d95;
    font-family: Playfair Display, serif;
    height: 100vh;
    box-shadow: inset 0 0 100px rgba(248, 248, 248, 0.2);
}
#background {
    position: absolute;
    top: 0;
    z-index: 1;
   width: 100%;
    height: 100%;
    opacity: 10%;
    object-fit: cover;
}
button {  
    font-family: Playfair Display, serif;
    color:#9c9d95;
}
.main {
    position: relative;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.title {
    font-size: 10em;
    margin: 0;
    text-align: center; 
    width: 100%;
}
.date {
    font-size: 40px;
    text-align: center; 
}
.button {
    background-color: rgb(15, 25, 27, 0.6);
    border: 2px solid #9c9d95;
    height: 100px;
    width: 300px;
    font-size: 40px;
    text-align: center; 
    margin-top: 50px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(15, 25, 27, 0.8);
}
.button:active {
    background-color: rgb(15, 25, 27);
}
.footer {
      position: relative;
    font-size: 20px;
    height: 100px;
    text-align: center; 
     z-index: 2;
}
